footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #0c0c0c;
}

footer .container {
  display: grid;
  margin-top: 3rem;
  grid-template-columns: 1fr 2fr 1fr;
}

footer .container .sec {
  text-align: center;
}



footer .container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer p {
  color: #999;
}

.sci {
  padding: 0;
  display: flex;
  margin-bottom: 3rem;
  justify-content: center;
}

.sci li {
  list-style: none;
}

.slide-imgs {
  display: grid;
  grid-template-columns: auto auto auto auto;
  margin-left: 42px;
}

.slide-imgs li {
  list-style: none;
}

.slide-imgs li a {
  display: inline-block;
  width: 76px;
}

.slide-imgs li a img {
  width: 206px;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
  color: #fff;
}

.fb a:hover {
  background: #fff;
  color: rgb(14, 153, 233);
}
.insta a:hover {
  background: #fff;
  color: #BC1171;
}
.yt a:hover {
  background: #fff;
  color: red;
}
.twit a:hover {
  background: #fff;
  color: rgb(14, 153, 233);
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}
.quickLinks ul{
  padding-left: 4rem;
}
.quickLinks ul li {
  list-style: none;
  text-align: start;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.quickUl{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

 .info {
  position: relative;
  padding: 0;
}

 .info li {
  list-style: none;
  margin-bottom: 16px;
}

 .info li p {
  margin: 0;
}

 .info li a {
  color: #999;
  text-decoration: none;
}

.copyrightText {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 991px) {
  footer {
    padding: 50px 5px;
  }

  .subUl{
    padding-left: 15px;
  }

  footer .container .sec {
    margin-bottom: 40px;
  }

  footer .container .sec.aboutus,
  .quickLinks {
    width: 100%;
  }

  .quickLinks ul li a {
    margin-left: -13%;
  }

  .copyrightText {
    padding: 8px 40px;
    font-size: 0.7rem;
  }

  .slide-imgs {
    margin-left: 0;
  }

  .slide-imgs li a img {
    width: 137px;
    margin-bottom: 1.5rem;
  }
  .quickLinks ul{
    padding-left: 2rem;
  }
  
}

@media (max-width: 767.98px) {
  .slide-imgs {
    grid-template-columns: auto auto;
  }
  footer .container {
    grid-template-columns: none;
  }
  .visitor{
    padding-left: 15px;
  }
}
