footer {
  position: relative;
  width: 100%;
  height: auto;
  padding: 50px 100px;
  background: #0c0c0c;
}

footer .container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: auto;
}

footer .container .sec {
  margin-right: 30px;
}

footer .container .sec.aboutus {
  width: 40%;
}

footer .container h2 {
  position: relative;
  color: #fff;
  font-weight: 500;
  margin-bottom: 15px;
}

footer p {
  color: #999;
}

.bigbtn.invert {
  background: #a5f0d3;
  color: #001f3d;
  text-decoration: none;
}

.bigbtn {
  font-weight: 800;
  text-decoration: none;
  padding: 16px 64px;
  display: inline-block;
  width: fit-content;
  transition: all 0.25s;
  clip-path: polygon(0% 0%, calc(100% - 32px) 0%, 100% 100%, 32px 100%);
  cursor: pointer;
}

.sci {
  margin-top: 20px;
  display: flex;
}

.sci li {
  list-style: none;
}

.slide-imgs {
  display: flex;
}

.slide-imgs li {
  list-style: none;
  padding: 0 90px;
}

.slide-imgs li a {
  display: inline-block;
  width: 80px;
}

.slide-imgs li a img {
  width: 206px;
}

.sci li a {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #222;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 4px;
}

.sci li a:hover {
  background: rgb(14, 153, 233);
}

.sci li a .fa {
  color: #fff;
  font-size: 20px;
}

.quickLinks {
  position: relative;
  width: 25%;
}

.quickLinks ul li {
  list-style: none;
}

.quickLinks ul li a {
  color: #999;
  text-decoration: none;
  margin-bottom: 10px;
  display: inline-block;
}

.quickLinks ul li a:hover {
  color: #fff;
}

.contact {
  width: calc(35% - 60px);
  margin-right: 0 !important;
}

.contact .info {
  position: relative;
}

.contact .info li {
  list-style: none;
  margin-bottom: 16px;
}

.contact .info li p {
  margin: 0;
}

.contact .info li a {
  color: #999;
  text-decoration: none;
}

.copyrightText {
  width: 100%;
  background: #181818;
  padding: 8px 100px;
  text-align: center;
  color: #999;
}

@media (max-width: 991px) {
  footer {
    padding: 40px;
  }

  footer .container {
    flex-direction: column;
  }

  footer .container .sec {
    margin-right: 0;
    margin-bottom: 40px;
  }

  footer .container .sec.aboutus,
  .quickLinks,
  .contact {
    width: 100%;
  }

  .quickLinks ul li a {
    margin-left: -13%;
  }

  .copyrightText {
    padding: 8px 40px;
  }

  .bigbtn {
    font-size: 10px;
  }
}
