body {
  font-family: sans-serif;
  margin: 0;
  top: 0;
  left: 0;
  padding: 0;
  background-color: #fff;
}
.nav1 {
  color: black;
  background-color: #f6f3ee;
  display: flex;
  justify-content: space-between;
}
.nav1 a {
  color: black;
  padding: 0.2rem 1rem;
  text-decoration: none !important;
}
.nav1 a:hover {
  color: black;
  background-color: #e9e9e9;
}
.nav1 .dropdown .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 2.8rem;
  top: 1.4rem;
  right: 0rem;
  z-index: 1;
}
.nav1 .dropdown:hover .dropdown-content {
  display: inline;
}


.nav2 {
  color: black;
  padding: 1.2rem 2rem;
  background-color: #8cc6e0;
  /* background-color: #8dd4f4; */
}
.nav2 .logo {
  width: 5rem;
  height: 5rem;
}
.nav2 .grid-container{
  display: grid;
  grid-template-columns: 3fr 1fr;
}
.nav2 .right-grid img{
  width: 100px;
  height: 34px;
  border-radius: 0.2rem;
}
.nav2 .right-grid .grid-row{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.nav2 .right-grid .grid-col{
  margin: 0.3rem 1rem ;
  text-align: center;
}
h1 {
  font-size: 18px;
  font-weight: 400;
}


.nav3 {
  padding: 0;
}
.bg-dark, .dropdown-menu {
  background-color: #052963 !important;
}
.nav3 .nav-item .nav-link,
.dropdown-item {
  color: white !important;
  font-size: .8rem !important;
  padding: 0.6rem;
  
}
.nav3 .nav-item:hover {
  background-color: #2aacea !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu{
  border: none;
  background-color: #0b3579 !important;
}
.navbar-expand-lg .navbar-nav .dropdown-menu a:hover{
  background-color: #2aacea !important;
}
.navbar-dark .navbar-toggler {
  color: #2aacea !important;
  border: none !important;
}
.navbar-dark .navbar-toggler:focus {
  border: none !important;
  box-shadow: none !important;
}
.navbar-collapse {
  justify-content: center;
}
.dropdown-menu {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}


.nav4{
  height: 1.5rem;
  padding-left: 1rem;
  background-color: #ff9000;
}
.nav4 a{
  text-decoration: none;
  font-size: .8rem !important;
}
.scrollBar{
  display:grid;
  grid-template-columns: 1fr 10fr;
}
.blink {
  animation: blinker 0.5s linear infinite;
  color: #052963;
}

@keyframes blinker {
  50% {
    opacity: 0;
  }
}


.banner {
  width: 100%;
  height: 70vh;
}
#banner-id button {
  background-color: #ff9000 !important;
}

/* *************************about us********************** */
.about_us{
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
}

.page_heading{
  font-weight: normal;
  font-size: 35px;
  position: relative;
  margin: 40px 0;
}

.page_heading::before{
  content: '';
  position: absolute;
  width: 100px;
  height: 3px;
  background-color: #2aacea;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
  animation: animate 4s linear infinite;
}

@keyframes animate{
  0%{
      width: 100px;
  }
  50%{
      width: 200px;
  }
  100%{
      width: 100px;
  }
}


.about-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 1170px;
}

.about-head {
  text-align: center;
  margin-top: 25px;
  font-size: 1.714em;
  font-weight: bold;
}

.about-main {
  display: flex;
}

.about-main img {
  height: 50vh;
  padding: 7px 40px;
}

.desc-main p {
  text-align: justify;
  margin: 0 0 18px;
  font-size: 1.1rem;
  opacity: 0.9;
  line-height: 1.67;
}

.desc-main p > a {
  color: initial;
  text-decoration: none;
}

.desc-main p > a:hover,
.desc-main p > a:active {
  text-decoration: underline;
  color: #052963;
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
  .banner {
    width: 100%;
    height: 30vh;
  }
  .about-container {
    width: 767px;
  }
  .about-main img {
    height: 38vh;
    padding: 4px 9px;
  }

  .desc-main p > a {
    font-size: 0.91em;
  }

  .desc-main p {
    font-size: 0.91rem;
    margin: 0;
  }
  .nav1 a,
  .nav2 a,
  .nav3 a {
    font-size: 0.7rem;
  }
  .nav3 {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }
  .nav2 h1 {
    font-size: 1rem;
  }
  .scrollBar {
    grid-template-columns: 2fr 10fr;
  }
  
}

/* Mobile devices*/
@media (max-width: 767.98px) {
  .about-main img {
    height: 35vh;
    width: -webkit-fill-available;
  }

  .desc-main p > a {
    font-size: 1.02em;
  }

  .desc-main p {
    font-size: 0.95rem;
    margin: 0;
  }

  .about-container {
    width: 260px;
  }

  .about-main {
    flex-direction: column;
  }
  .logo {
    margin-top: 1.4rem;
  }
  .nav2 .grid-container{
    grid-template-columns: none;
  }
  .nav2 {
    padding: 0;
    
  }
  .scrollBar {
    grid-template-columns: 5fr 10fr;
  }
}

/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 
  .nav2 .right-grid .grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.nav2 h1 {
  font-size: .8rem;
}
.nav2 .right-grid img {
  width: 61px;
  height: 20px;
  border-radius: 0.2rem;
}
.left-grid div{
  margin-top: 2rem !important;
}
.page_heading {
  font-size: 29px;
 }
}
@media (min-width: 768px) and (max-width: 991.98px) {
  .nav2 .grid-container{
    display: grid;
    grid-template-columns: none;
  }
  .nav2 .right-grid{
    display: flex;
    justify-content: center;
  }
  .nav2 .right-grid .grid-col{
    margin: 1rem .5rem .5rem .5rem;
  }

}


  @media (min-width: 991.98px) and (max-width: 1199.98px) { 
    .about-container {
      width: 980px;
    }
    .nav3 .nav-item .nav-link, .dropdown-item {
      font-size: 0.6rem !important;
  }

   }

/* larger device and up --- only for large pc */
@media (min-width: 992px) {
  .dropdown:hover .dropdown-menu {
    display: block;
  }
}
